---
# Tasks for mounting ISO files in the BMC via Virtual Media

# Validate the BMC Configuration

# Mount the ISO file in the BMC

- name: Gather Vendor Info
  ansible.builtin.uri:
    url: "http://{{ item.bmc.address }}/redfish/v1/Systems"
    method: GET
    user: "{{ item.bmc.username }}"
    password: "{{ item.bmc.password }}"
    validate_certs: no
    return_content: yes
    status_code: 200
  register: vendor_info
  loop: "{{ baremetal_worker_nodes + baremetal_master_nodes }}"
  loop_control:
    label: "{{ item.hostname }}"
  ignore_errors: true
  tags: bmc
  when: item.bmc is defined

- name: Display Vendor Info
  debug:
    msg: "BMC Manufacturer: {{ item.bmc.manufacturer }}"
  loop: "{{ vendor_info.results }}"
  tags: bmc
  when: item.bmc is defined

- name: Set Vendor facts for each server
  set_fact:
    enhanced_servers: >-
      {{
        vendor_info | map('combine', {
          'vendor': item.item.vendor | default(
          (item.status is defined and item.status == 200) | ternary(
           'lenovo' if 'Lenovo' in (item.json.Vendor | default('')) else (
            'dell' if 'Dell' in (item.json.Vendor | default('')) else (
            'hpe' if 'HPE' in (item.json.Vendor | default('')) else (
            'openbmc' if 'OpenBMC' in (item.json.Vendor | default('')) else (
            'unknown'
           )))
        ),
        item.item.vendor | default('unknown')
      }}
  loop: "{{ vendor_info.results if vendor_info.results is defined }}"