---
# Get OS Info
- name: Gather OS facts
  setup:

# Update all packages

# Download the openshift-installer & oc client

# Install other tools
#  - IPMITool
#  - redfish
- name: Install packages based on OS Family
  block:
    - name: Install packages for RedHat
      when: ansible_os_family == "RedHat"
      yum:
        name:
          - ipmitool
          - redfish
          - wget
          - bind-utils
        state: present

    - name: Install packages for Debian
      when: ansible_os_family == "Debian"
      apt:
        name:
          - ipmitool
          - python3-redfish
          - wget
          - dnsutils
          - net-tools
        state: present
      

# Check if DNS entries are set in the network
- name: Check if have the API DNS entry for the Cluster
  ansible.builtin.command: "dig +short {{ api_vip }}"
  register: api_dns
  changed_when: false
  failed_when: api_dns.rc != 0

- name: Check if have the Ingress DNS entry for the Cluster
  ansible.builtin.command: "dig +short {{ ingress_vip }}"
  register: ingress_dns
  changed_when: false
  failed_when: ingress_dns.rc != 0

- name: Download OpenShift client
  ansible.builtin.get_url:
    url: "https://mirror.openshift.com/pub/openshift-v4/clients/ocp/{{ ocp_version }}/openshift-client-linux-{{ ocp_version }}.tar.gz"
    dest: "/tmp/openshift-client-linux-{{ ocp_version }}.tar.gz"
- name: Extract OpenShift client
  ansible.builtin.unarchive:
    src: "/tmp/openshift-client-linux-{{ ocp_version }}.tar.gz"
    dest: "/usr/local/bin/"
    remote_src: yes
- name: Move OpenShift binaries to /usr/local/bin
  ansible.builtin.command: "mv /usr/local/bin/oc /usr/local/bin/openshift-client"
- name: Download OpenShift Installer 
  ansible.builtin.get_url:
    url: "https://mirror.openshift.com/pub/openshift-v4/clients/ocp/{{ ocp_version }}/openshift-install-linux-{{ ocp_version }}.tar.gz"
    dest: "/tmp/openshift-install-linux-{{ ocp_version }}.tar.gz"
- name: Extract OpenShift Installer
  ansible.builtin.unarchive:
    src: "/tmp/openshift-install-linux-{{ ocp_version }}.tar.gz"
    dest: "/usr/local/bin/"
    remote_src: yes
- name: Move OpenShift Installer binary to /usr/local/bin
  ansible.builtin.command: "mv /usr/local/bin/openshift-install /usr/local/bin/openshift-installer"
