apiVersion: v1
baseDomain: {{ base_domain }}
compute:
- architecture: {{ ocp_arch }}
  hyperthreading: Enabled
  name: worker
  replicas: {{ compute_replicas }}
controlPlane:
  architecture: {{ ocp_arch }}
  hyperthreading: Enabled
  name: master
  replicas: {{ control_plane_replicas }}
metadata:
  name: {{ cluster_name }}
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: {{ machine_cidr }}
  networkType: OVNKubernetes
  serviceNetwork:
  - 172.30.0.0/16
platform:
  none:
{% if control_plane_replicas | int > 1 %}
    apiVIPs:
    - {{ api_vip }}
    ingressVIPs:
    - {{ ingress_vip }}
{% endif %}
pullSecret: '{{ pull_secret }}'
sshKey: '{{ openshift_ssh_key }}'
