apiVersion: v1beta1
kind: AgentConfig
rendezvousIP: {{ rendezvous_ip }}
hosts: 
{% for node in baremetal_master_nodes %}
- hostname: {{ node.hostname }}
  role: master # Corrected role from 'control-plane' to 'master'
  # List of interfaces for the control plane node
  # Templated MAC address for node
  interfaces:
  {% for nic in node.nics %}
  - macAddress: {{ nic.mac }}
    name: {{ nic.name }}
  {% endfor %}
  networkConfig:
    interfaces:
    {% for nic in node.nics %}
      - name: {{ nic.name }}
        ipv4:
          enabled: true
          # Corrected format for ipv4 address
          address:
            {% if not nic.dhcp | default(true)%}
            - ip: {{ nic.ip }}
              prefix-length: 22
            {% endif %}
          dhcp: {{ nic.dhcp }}
    {% endfor %}
    # Corrected structure for routes
    routes:
      config:
        - destination: 0.0.0.0/0
          # Corrected field names for the route
          next-hop-interface: {{ node.nics[0].name}} # Interface with the configured IP
          next-hop-address: {{ gateway_ip}} # Using the assumed gateway
    dns-resolver:
      config:
        # Corrected nameserver field name
        {% for nameserver_ip in nameserver_ips %}
        server:
          - {{ nameserver_ip }}
        {% endfor %}
  # Correct way to specify the installation disk
  rootDeviceHints:
    deviceName: {{ node.install_disk }} # Ensure this is the correct installation disk for this host
{% endfor %}
{% for node in baremetal_worker_nodes %}
- hostname: {{ node.hostname }}
    role: worker
    interfaces:
    {% for nic in node.nics %}
    - macAddress: {{ nic.mac }}
        name: {{ nic.name }}
    {% endfor %}
    networkConfig:
        interfaces:
        {% for nic in node.nics %}
            - name: {{ nic.name }}
                ipv4:
                    enabled: true
                    address:
                        {% if not nic.dhcp | default(true)%}
                        - ip: {{ nic.ip }}
                            prefix-length: 22
                        {% endif %}
                    dhcp: {{ nic.dhcp }}
        {% endfor %}
        routes:
            config:
                - destination: 0.0.0.0/0
                    next-hop-interface: {{ node.nics[0].name}}
                    next-hop-address: {{ gateway_ip}}
        dns-resolver:
            config:
                {% for nameserver_ip in nameserver_ips %}
                server:
                    - {{ nameserver_ip }}
                {% endfor %}
    rootDeviceHints:
        deviceName: {{ node.install_disk }}
{% endfor %}